/*********************全体*********************/
body {
    font-family: serif;
    text-align: center;
    margin: 0;
    background-image: url(./bg.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.kari-div {
    display: inline;
}
p {
    font-size: 19px;
}
/*********************メニュー*********************/
nav {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    box-sizing: content-box;
    background-color: #00000060;
    margin-bottom: 50px;
}
ul {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: auto;
}
li {
    list-style: none;
    position: fixed;
}
h1 {
    margin: auto;
    font-size: 45px;
}
.menu_title {
    top: 20px;
    left: 50px;
}
.menu_btn {
    top: 40px;
    right: 100px;
}

/*********************テーブル*********************/
table {
    border-color: #dcdcdc;
    border-collapse:  collapse;
    width: 85%;
    margin: 0 auto;
}
th, td {
    text-align:  center;
    border: solid 1px;
    border-color: #00000040;
}
th {
    background-color: #debecc;
}
td {
    height: 40px;
    background-color: #ede4e1;
}

/********************ボタン*********************/
button {
	background: none;
	border: none;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
    font-size: 14px;
    font-family: serif;
}
a {
    font-size: 14px;
    font-weight: bold;
    height: 25px;
}
/**********新規登録**********/
.btn-new {
    right: 20%;
    display: inline-block;
    font-size: 16px;
    padding: 5px 15px;
    text-decoration: none;
    color: #000000;
    border: solid 3px #c97586;
    border-radius: 20px;
    transition: .4s;
    background-color: #ede4e199;
}

.btn-new:hover {
    background: #c97586;
    color: #000000;
}
/**********カテゴリ登録**********/
.btn-new {
    right: 20%;
    display: inline-block;
    font-size: 16px;
    padding: 5px 15px;
    text-decoration: none;
    color: #000000;
    border: solid 3px #c97586;
    border-radius: 20px;
    transition: .4s;
    background-color: #ede4e199;
}

.btn-new:hover {
    background: #c97586;
    color: #000000;
}
/**********次の遷移**********/
.btn-next {
    right: 20%;
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #000000;
    border: solid 2px #c97586;
    border-radius: 20px;
    transition: .4s;
    background-color: #ede4e180;
}

.btn-next:hover {
    background: #c97586;
    color: #000000;
}
/**********戻る**********/
.btn-rtn {
    right: 20%;
    display: inline-block;
    padding: 0.3em 1em;
    margin-top: 30px;
    text-decoration: none;
    color: #000000;
    border: solid 2px #707070;
    border-radius: 20px;
    transition: .4s;
    background-color: #ede4e180;
}

.btn-rtn:hover {
    background: #707070;
    color: #ffffff;
}
/**********検索**********/
.btn-search {
    right: 20%;
    display: inline-block;
    padding: 0.3em 1em;
    margin: 10px 0 30px 0;
    text-decoration: none;
    color: #000000;
    border: solid 2px #274a78;
    border-radius: 20px;
    transition: .4s;
    background-color: #ede4e180;
}

.btn-search:hover {
    background: #274a78;
    color: #ffffff;
}
/**********更新***********/
.a-upd {
    height: 22px;
    width: 35px;
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.01em 0;
    text-decoration: none;
    color: #6495ed;
}

.a-upd:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    top:100%;
    left: 0;
    border-radius: 1px;
    background: #6495ed;
    transition: .2s;
}

.a-upd:hover:before {
    top: -webkit-calc(100% - 3px);
    top: calc(100% - 3px);
}

/**********削除***********/
.a-del {
    height: 22px;
    width: 35px;
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.01em 0;
    text-decoration: none;
    color: #b22222;
}

.a-del:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    top:100%;
    left: 0;
    border-radius: 1px;
    background: #b22222;
    transition: .2s;
}

.a-del:hover:before {
    top: -webkit-calc(100% - 3px);
    top: calc(100% - 3px);
}

/**********インスタ***********/
.insta {
    position: relative;
    font-weight: bold;
    padding: 0.01em 0;
    text-decoration: none;
    color: #9f166a;
}

.insta:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    top:100%;
    left: 0;
    border-radius: 1px;
    background: #9f166a;
    transition: .2s;
}

.insta:hover:before {
    top: -webkit-calc(100% - 3px);
    top: calc(100% - 3px);
}

/********************input********************/
/**********text***********/
.inp-text {
    height: 40px;
    width: 90vh;
    padding: 0 16px;
    margin-bottom: 10px;
    border-radius: 20px;
    border: none;
    box-shadow: 0 0 0 1.5px #a89dac inset;
    background-color: #ede4e1;
}

.inp-text:focus {
    outline: 0;
    box-shadow: 0 0 0 2px #c97586 inset;
}

/**********harf text***********/
.inp-text-harf {
    height: 40px;
    width: 42vh;
    padding: 0 16px;
    margin-bottom: 10px;
    border-radius: 20px;
    border: none;
    box-shadow: 0 0 0 1.5px #a89dac inset;
    background-color: #ede4e1;
}

.inp-text-harf:focus {
    outline: 0;
    box-shadow: 0 0 0 2px #c97586 inset;
}

/*************検索**********/
.search-name {
    height: 40px;
    width: 42vh;
    padding: 0 16px;
    margin-bottom: 10px;
    border-radius: 20px;
    border: none;
    box-shadow: 0 0 0 1.5px #a89dac inset;
    background-color: #ede4e1;
}

.search-name:focus {
    outline: 0;
    box-shadow: 0 0 0 2px #c97586 inset;
}

/*********************select*********************/
.gray {
    color: #ffffff;
}

.inp-select {
    position: relative;
}

.inp-select::before,
.inp-select::after {
    position: absolute;
    right: 15px;
    width: 9px;
    height: 6px;
    background-color: #535353;
    content: '';
    pointer-events: none;
}

.inp-select::before {
    top: calc(50% - 9px);
    clip-path: polygon(50% 0, 100% 100%, 0 100%);
}

.inp-select::after {
    bottom: calc(50% - 9px);
    clip-path: polygon(0 0, 50% 100%, 100% 0);
}

.inp-select select {
    appearance: none;
    width: 47vh;
    height: 40px;
    padding: .4em calc(.8em + 30px) .4em .8em;
    border: none;
    box-shadow: 0 0 0 1.5px #a89dac inset;
    border-radius: 20px;
    background-color: #ede4e1;
    color: #333333;
    cursor: pointer;
}

.inp-select select:focus {
    outline: 0;
    box-shadow: 0 0 0 2px #c97586 inset;
}

/**********search**********/
.search-category {
    position: relative;
}

.search-category::before,
.search-category::after {
    position: absolute;
    right: 15px;
    width: 9px;
    height: 6px;
    background-color: #535353;
    content: '';
    pointer-events: none;
}

.search-category::before {
    top: calc(50% - 9px);
    clip-path: polygon(50% 0, 100% 100%, 0 100%);
}

.search-category::after {
    bottom: calc(50% - 9px);
    clip-path: polygon(0 0, 50% 100%, 100% 0);
}

.search-category select {
    appearance: none;
    width: 47vh;
    height: 40px;
    padding: .4em calc(.8em + 30px) .4em .8em;
    border: none;
    box-shadow: 0 0 0 1.5px #a89dac inset;
    border-radius: 20px;
    background-color: #ede4e1;
    color: #333333;
    cursor: pointer;
}

.search-category select:focus {
    outline: 0;
    box-shadow: 0 0 0 2px #c97586 inset;
}